@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}
@theme {
    /* --font-display: "Satoshi", "sans-serif"; */
    --breakpoint-xs: 540px;
    --color-primary: #42b3e5;
    --color-secondary: "#F8F8F8";
    --color-dark: "#1d1d1d";
    --color-accent: "#D72638";
    --color-muted: "#B0B0B0";
    /* ... */
}
* {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", serif;
}
button:disabled {
    cursor: not-allowed;
    opacity: 50%;
}
.container{
    width: 96%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
.secondary_font {
    font-family: "Oxanium", serif;
}
.add-medicine-modal {
    width: 90% !important;
}
.order-modal {
    width: 90% !important;
}
.button_primary {
    @apply cursor-pointer text-base sm:text-base font-medium hover:text-black text-black bg-primary px-5 py-2 rounded;
}
.label_primary {
    @apply mb-3 inline-block;
}
.input_field {
    @apply w-full text-xl text-black outline-none border rounded-md  p-2 px-3 bg-primary/40 placeholder:text-black;
}
div:where(.swal2-container).swal2-top,
div:where(.swal2-container).swal2-center,
div:where(.swal2-container).swal2-bottom {
    z-index: 99999999999999999999 !important;
}
