@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}
@theme {
    /* --font-display: "Satoshi", "sans-serif"; */
    --breakpoint-xs: 540px;
    --color-primary: #42b3e5;
    --color-secondary: "#F8F8F8";
    --color-dark: "#1d1d1d";
    --color-accent: "#D72638";
    --color-muted: "#B0B0B0";
    /* ... */
}
* {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", serif;
}
.secondary_font {
    font-family: "Oxanium", serif;
}
