@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}
@theme {
    /* --font-display: "Satoshi", "sans-serif"; */
    --breakpoint-xs: 540px;
    --color-primary: #42b3e5;
    --color-secondary: "#F8F8F8";
    --color-dark: "#1d1d1d";
    --color-accent: "#D72638";
    --color-muted: "#B0B0B0";
    /* ... */
}
* {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", serif;
}
button:disabled {
    cursor: not-allowed;
    opacity: 50%;
}
.container {
    width: 96%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
.secondary_font {
    font-family: "Oxanium", serif;
}
.add-medicine-modal {
    width: 90% !important;
}
.order-modal {
    width: 90% !important;
}
.button_primary {
    @apply cursor-pointer text-base sm:text-base font-medium hover:text-black text-black bg-primary px-5 py-2 rounded;
}
.label_primary {
    @apply mb-3 inline-block;
}
.input_field {
    @apply w-full text-base sm:text-xl text-black outline-none border rounded-md  p-2 px-3 bg-primary/40 placeholder:text-black;
}
div:where(.swal2-container).swal2-top,
div:where(.swal2-container).swal2-center,
div:where(.swal2-container).swal2-bottom {
    z-index: 99999999999999999999 !important;
}

.jm_nav {
    @apply flex flex-col-reverse lg:flex-row lg:items-center lg:justify-between justify-end lg:col-span-3 gap-5 absolute lg:static lg:w-auto top-0 left-0 overflow-hidden h-screen lg:h-auto duration-500 bg-[#fff] lg:bg-[transparent] lg:p-0 z-50;
}
:where(.css-dev-only-do-not-override-1v5z42l).ant-layout-sider
    .ant-layout-sider-zero-width-trigger::after {
    background: #42b3e5;
    border-radius: 0 5px 5px 0px !important;
}
:where(.css-dev-only-do-not-override-1v5z42l).ant-layout-sider
    .ant-layout-sider-zero-width-trigger:hover::after {
    background: #42b3e5;
    border-radius: 0 5px 5px 0px !important;
}
.ant-layout-sider-zero-width-trigger .anticon svg {
    display: inline-block;
    z-index: 1;
    color: white;
}

:where(.css-dev-only-do-not-override-1v5z42l).ant-layout-sider
    .ant-layout-sider-zero-width-trigger {
    top: 0px !important;
}
.review-swiper .slide {
    background-position: center;
    background-size: cover;
    width: 500px !important;
    height: 310px !important;
    overflow: hidden;
    border-radius: 12px;
}
@media screen and (max-width: 640px) {
    .review-swiper .slide {
        width: 400px !important;
        height: 340px !important;
    }
}
@media screen and (max-width: 440px) {
    .review-swiper .slide {
        width: 95% !important;
        height: 300px !important;
    }
    .ant-modal-content {
        padding: 15px !important;
    }
    .accordion__button {
        padding: 5px 10px !important;
    }
    .accordion__panel {
        padding: 7px !important;
    }
}


